<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="load_gripper" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="ns" default="panda_simulator"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find panda_sim_controllers)/config/panda_sim_controllers.yaml" command="load" ns="$(arg ns)"/>

  <!-- load the default "ON" controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
        output="screen" args="spawn
                                         panda_simulator/joint_state_controller
                                         panda_simulator/effort_joint_position_controller
                                         panda_simulator/effort_joint_gravity_controller  
                                         " />

  <!-- load the default "OFF" controllers -->
  <node name="controller_spawner_stopped" pkg="controller_manager" type="controller_manager" respawn="false"
       output="screen" args="load
                                         panda_simulator/effort_joint_velocity_controller
                                         panda_simulator/effort_joint_torque_controller"/>

  <!-- load the Gripper controllers if args set -->
  <rosparam if="$(arg load_gripper)" command="load"
      file="$(find panda_sim_controllers)/config/panda_gripper_controller.yaml" ns="$(arg ns)"/>
  <node if="$(arg load_gripper)" name="electric_gripper_controller_spawner_stopped"
        pkg="controller_manager" type="controller_manager" respawn="false" output="screen"
        args="spawn panda_simulator/panda_gripper_controller"/>

  <!-- convert joint states to TF transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <!-- <remap from="/joint_states" to="/$(arg ns)/joint_states" /> -->
  </node>

  <node name="topic_remap" pkg="topic_tools" type="relay" args="joint_states /$(arg ns)/custom_franka_state_controller/joint_states"/>

</launch>
