<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="electric_gripper" default="false"/>
  <arg name="gui" default="false"/>
  <arg name="ns" default="panda_simulator"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find panda_sim_controllers)/config/panda_sim_controllers.yaml" command="load"/>

  <!-- load the default "ON" controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
        output="screen" ns="$(arg ns)" args="spawn
                                         joint_state_controller
                                         effort_joint_gravity_controller
                                         effort_joint_position_controller" />

  <!-- load the default "OFF" controllers -->
<!--   <node name="controller_spawner_stopped" pkg="controller_manager" type="controller_manager" respawn="false"
       output="screen" ns="/robot" args="load
                                         right_joint_velocity_controller
                                         right_joint_effort_controller"/> -->

  <!-- load the Electric Gripper controllers if args set -->
<!--   <rosparam if="$(arg electric_gripper)" command="load"
      file="$(find panda_sim_controllers)/config/electric_gripper_controller.yaml"/>
  <node if="$(arg electric_gripper)" name="electric_gripper_controller_spawner_stopped"
        pkg="controller_manager" type="controller_manager" respawn="false" output="screen"
        ns="/robot" args="spawn electric_gripper_controller"/> -->

  <!-- convert joint states to TF transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/$(arg ns)/joint_states" to="/$(arg ns)/arm/joint_states" />
  </node>

</launch>
