<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- We resume the logic in empty_world.launch, changing the name of the world to be launched -->
  <include file="$(find panda_gazebo)/launch/panda_world.launch">
    <!-- <arg name="load_gripper" value="true"/> -->
  </include>

  <!-- Start the movement and robot state reading demo -->
  <node pkg="panda_simulator_examples" type="move_robot.py" name="move_robot" output="screen"/>

</launch>
